<div class="container mt-5 d-flex flex-column align-items-center" style="width: 30rem;">

  <form action="/new" method="get" class="mb-5">
    <button class="btn btn-outline-secondary btn-lg" type="submit">Add Expenditure</button>
  </form>

  <form action="/category" method="get" class="d-flex" style="width: 25rem;">
    <select class=" form-select" aria-label="Default select example" name="category"
      style="width: 32rem;border: 1px solid #ffffff;">
      <option selected>Category</option>
      <option {{#if fa_home }}selected{{/if}} value="fa-home">Household</option>
      <option {{#if fa_shuttle_van }}selected{{/if}} value="fa-shuttle-van">Trafic</option>
      <option {{#if fa_grin_beam }}selected{{/if}} value="fa-grin-beam">Amusement</option>
      <option {{#if fa_utensils }}selected{{/if}} value="fa-utensils">Food</option>
      <option {{#if fa_pen }}selected{{/if}} value="fa-pen">Other</option>
    </select>
    <button type="submit" class="btn" style="width: 6rem; border: 1px solid #ffffff;">select</button>
  </form>

  <div class="p-0 mt-5 d-flex flex-column align-items-center">
    <p class="m-0 p-0">Total Amount：</p>
    <p class="fs-1 m-0 p-0" id="totalAmount" style="color: rgb(220, 138, 75);">{{ totalAmount }}</p>
  </div>

  <div class="card mt-3" style="width: 25rem;">
    <ul class="list-group list-group-flush">

      {{#each record }}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <i class="fas {{ this.category }} m-auto fs-4 px-3" style="color: rgb(66, 90, 126); width: 60px;"></i>
          <div class="ms-3">
            <p class="m-0 p-0 fs-4" {{#if this.merchant}}style="height: 1em;" {{/if}}>{{this.name}}</p>
            {{#if this.merchant}}
            <p class="m-0 p-0 fs-6">{{this.merchant}}</p>
            {{/if}}
            <p class="m-0 p-0 fw-lighter">{{this.date}}</p>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <p class="m-0 p-0 fs-5 fw-light pe-4">{{this.amount}}</p>
          <div>
            <a href="/edit/{{ this._id }}" style="color: rgb(96, 96, 96);" class="m-0 p-0"><i
                class="far fa-edit"></i></a>
            <form action="/{{ this._id }}?_method=DELETE" method="post">
              <button type="submit" class="btn m-0 p-0" style="color: rgb(96, 96, 96);"><i
                  class="far fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}

    </ul>
  </div>

</div>