<div class="container mt-5 d-flex flex-column align-items-center" style="width: 30rem;">

  <form action="/new" method="get" class="mb-5">
    <button class="btn btn-outline-secondary btn-lg" type="submit">新增支出</button>
  </form>

  <form action="/" method="get" class="d-flex">
    <select class="form-select" aria-label="Default select example" name="category" style="width: 32rem;">
      <option selected>類別</option>
      <option value="fa-home">家居物業</option>
      <option value="fa-shuttle-van">交通出行</option>
      <option value="fa-grin-beam">休閒娛樂</option>
      <option value="fa-utensils">餐飲食品</option>
      <option value="fa-pen">其他</option>
    </select>
    <button type="submit" class="btn" style="width: 4rem; border: 1px solid #cecece;">選擇</button>
  </form>

  <div class="p-0 mt-5 d-flex justify-content-center">
    <p class="me-2 mt-2">總金額：</p>
    <p class="fs-1" id="totalAmount" style="color: rgb(220, 138, 75);">{{ totalAmount }}</p>
  </div>

  <div class="card mt-3" style="width: 25rem;">
    <ul class="list-group list-group-flush">

      {{#each record }}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <i class="fas {{ this.category }} m-auto fs-4 px-3" style="color: rgb(66, 90, 126);"></i>
          <div class="ms-3">
            <p class="m-0 p-0 fs-4">{{this.name}}</p>
            <p class="m-0 p-0 fw-lighter">{{this.date}}</p>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <p class="m-0 p-0 fs-5 fw-light pe-4">{{this.amount}}</p>
          <div>
            <a href="/edit/{{ this._id }}" style="color: rgb(96, 96, 96);" class="m-0 p-0">修改</a>
            <form action="/delete/{{ this._id }}" method="post">
              <button type="submit" class="btn m-0 p-0" style="color: rgb(96, 96, 96);">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}

    </ul>
  </div>

</div>